{% extends "base.html" %}
{% load static %}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% block content %}
<h1 align="center"> Display Books Page </h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Book Image</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <th scope="row"> <a href="book_detail/{{ book.id }}" class="text-warning"> {{ book.name }} </a> </th>
            <td> <img src="{% static book.picture_path %}" width="60" height="60"></td>
            <td> {{book.username}} </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}


{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}