{% extends "base.html" %}
{% load static %}

{% block content %}
<h1 align="center"> My Books </h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Book Name</th>
            <th scope="col">Book Image</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
    {% for book in books %}
        <tr>
            <td>
                <a href="book_detail/{{ book.id }}" class="text-warning"> {{ book.name }} </a>
            </td>
            <td>
                <img src="{% static book.picture_path %}" width="60" height="60">
            </td>
            <td>
                {{book.username}}
            </td>
            <td align="center">
                <a class="btn btn-danger" href="book_delete/{{ book.id }}" role="button">Delete</a>
            </td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock content %}


{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}