{% extends "base.html" %}
{% load static %}

{% block content %}
<h1> Post Book </h1>
{% if submitted %}
<h1> Book Posted Successfully! </h1>
{% else %}
    <form action="" enctype="multipart/form-data" method="post" novalidate>
        <div align="center">
            <table class="table">
                {{form.as_table}}
                <tr>
                    <td colspan="2">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg" value="Submit"> Submit</button>
                    </td>
                </tr>
            </table>
        </div>
        {% csrf_token %}
    </form>
{% endif %}
{% endblock content %}

{% block sidenav %}
    {% for item in item_list %}
        <li>
            <a href="{{ item.link }}"> {{ item.item }} </a>
        </li>
    {% endfor %}
{% endblock sidenav %}